/*
---------------------------------------------
Índice
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */

html {font-family: 'Open Sans', sans-serif;}
/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}
p::selection{
  background-color: #8c3d65 !important;
}
.text-primary{
  color: #8c3d65 !important;
}
.text-secondary{
  color: #2a0018 !important;
}
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid #8c3d65;
  padding-top: .5em;
}
.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {color: #fff;}
/* Home */
.bg-primary {
  background-color: #40132d !important;
}
.bg-secondary {
  background-color: #8c3d65 !important;
}
.btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active {
  background-color: #40132d;
  border-color: #40132d;
}
.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {
  background-color: #5c2942;
  border-color: #5c2942;
  color: #f6f9fe;
}
.btn-outline-primary{
  color: #40132d;
  border-color: #8c3d65 !important;
}
.btn-outline-primary:hover{
  background-color: #8c3d65 !important;
}
.btn-outline-primary:focus{
  box-shadow: 0 0 0 .2rem rgba(180, 149, 165, 0.2) !important;
}
.btn-outline-primary:active{
  background-color: #8c5973 !important;
}
.btn-outline-primary.active{
  background-color: #8c5973 !important;
}
.btn-outline-primary.active:active{
  background-color: #40132d !important;
}
.btn-secondary {
  color: #000;
  background-color: #8c5973;
  border-color: #8c5973;
}
.btn-secondary:hover{
  background-color: #40132d !important;
  border-color: #40132d;
}
.btn-secondary:active{
  background-color: #8c3d65 !important;
  border-color: #8c3d65;
}
.btn-secondary:focus{
  background-color: #8c5973;
  border-color: #8c5973;
  box-shadow: 0 0 0 .25rem rgba(140,89,115,.5);
}
#index_banner {
  background-image: url('./../img/banner-bg-01.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
.carousel-item .text-secondary{
  color: #ebd1de !important;
}
h1.banner-heading{
  font-weight: 600;
}
h3.banner-body{
  color: #ebd1de !important;
}
.banner-button {
    color: #ebd1de;
    border-color: #ebd1de !important;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #8c3d65 !important;
  text-decoration: none;
  font-size: 4em;
}
#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #8c3d65 !important;
  /*las rayas de abajo del carrousel van de color azul*/
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
	background: rgb(89,42,67);
  background: linear-gradient(0deg, rgba(89,42,67,1) 0%, rgba(89,42,67,0) 33.33%, rgba(140,89,115,1) 66.66%, rgba(89,42,67,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.service-work .service-work-vertical:hover * {
  /*color: #000;
  border-color: #000;*/
  transition: .5s;
}
.recent-work.card{
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
	background: rgb(180, 123, 153);
  background: linear-gradient(0deg, rgba(180, 123, 153,1) 0%, rgba(180, 123, 153,0) 33.333%, rgba(89,42,67,1) 66.666%, rgba(255,255,255,0) 99.999%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work h3, .recent-work p{
  color: white !important;
}
.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}
/* About */
a.freepick{
  color: #8c3d65 !important;
}
#about_banner {
  background-image: url('./../img/banner-bg-03.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}
#work_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}
.bg-light {
  background-color: #ebd1de !important;
}
.progress {
  height: 8px;
}
.progress-bar{
  background-color: #ebd1de !important;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #2a0018;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #aa7d94;
}
.why-us {
  background: rgb(235,209,222);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
a.storyset{
  color: #8c3d65 !important;
}
#floatingtextarea {
  height: 150px
}
/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}